/*===========================
     animation css
===========================*/

.example-enter {
  position: absolute;
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity .3s ease-in;
}
.example-leave {
  position: absolute;
  opacity: 1;
}
.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity .3s ease-in;
}
.example-appear {
  opacity: 0.01;
}
.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}


.noti-animation-enter {
  position: absolute;
}

.noti-animation-enter.noti-animation-enter-active {
  opacity: 1;
  -webkit-animation: wobble-hor-bottom 0.5s both;
  animation: wobble-hor-bottom 0.5s both;
  transition: all .5s ease-in;
}
.example-leave {
  position: absolute;
  opacity: 1;
}

.noti-animation-leave.noti-animation-leave-active {
  opacity: 0.01;
  transition: all .3s ease-in;
}
.noti-animation-appear {
  opacity: 0.01;
}
.noti-animation-appear.noti-animation-appear-active {
  opacity: 1;
  transition: all .5s ease-in;
}

@keyframes fade-in {
  from {
    opacity: 0.0;
    height: 0px;
  }
  to {
    opacity: 1.0;
    height: 20px;
  }
}
@keyframes fade-out {
  from {
    opacity: 1.0;
    height: 20px;
  }
  to {
    opacity: 0.0;
    height: 0px;
  }
}

.wobble-hor-bottom {
  -webkit-animation: wobble-hor-bottom 0.5s both;
  animation: wobble-hor-bottom 0.5s both;
}
/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}


/*===========================
    animation css
===========================*/
