/*===========================
       detail item
===========================*/
.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }
/*

.size {
  margin-right: 10px; }
.size:first-of-type {
  margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
.color:first-of-type {
  margin-left: 20px; }
*/
.selector-wrapper{
  margin-bottom: 10px;
}
.selector-wrapper > label {
  vertical-align: middle;
  font-weight: normal;
  margin-right: 10px;
}
.style-variant-template {
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
}
.style-variant-template li {
  float: left;
  margin-right: 5px;
  list-style: none;
}
.style-variant-template input {
  display: none;
}
.style-variant-template input[type=radio]:checked + span {
  border: 1px solid #D87C7C;
  background: url(../images/bg-variant-checked.png) no-repeat right bottom #fff;
}
.style-variant-template li span {
  display: block;
  padding: 6px 8px;
  background: #fff;
  cursor: pointer;
  border: 1px solid #ccc;
  font-weight: 400;
}

.btn-style-add, .variant-style .btn-style-buynow {
  border-radius: 3px;
  margin-right: 15px;
  padding-left: 45px;
  border: none;
  position: relative;
  display: inline-block;
  background: #7dc558;
  font-weight: 500;
  height: 48px;
  width: 170px;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.btn-style-add .icon_cart_btn, .variant-style .btn-style-buynow .icon_cart_btn {
  background: url(../images/icon_cart_btn.png) center center no-repeat #7dc558;
  width: 48px;
  height: 48px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 3px 0 0 3px;
}
button.btn-style-add:hover {
  background: #49aa47;
  color: #ffffff;
}
/*

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
  transition: background .3s ease; }
.add-to-cart:hover, .like:hover {
  background: #b36800;
  color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
.not-available:before {
  font-family: fontawesome;
  content: "\f00d";
  color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }
*/

/*===========================
      end detail item
===========================*/
