/*===========================
        Header_page
===========================*/
header{
  .logo-menu{
    padding: 10px 0px 0px;
  }
}
.icon-avatar{
  /*border-radius: 50%;
  background-color: white;*/
  img{
    border-radius: 50%;
    background-color: white;
  }
}
.badge-custom{
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: -10px;
  left: 0px;
  border-radius: 50%;
  background-color: #ff6517;
  text-align: center;
  line-height: 20px;
  color: white;
}
/*===========================
      end header_page
===========================*/