/*===========================
        Header_page
===========================*/
header{
  .logo-menu{
    padding: 10px 0px 0px;
  }
}
.icon-avatar{
  /*border-radius: 50%;
  background-color: white;*/
  img{
    border-radius: 50%;
    background-color: white;
  }
}
/*===========================
      end header_page
===========================*/