.center {
  text-align: center;
  margin: auto;
}
.mr-left-right{
  margin: 0px 15px;
}
.pd-none{
  padding: 0px;
}
.ul-two-col{
  li{
    width: 50%;
    display: inline-block;
    float: left;
  }
}
.panel-show{
  display: block;
}
.panel-hide{
  display: none;
}

@mixin transition($time :1s) {
  transition: all $time;
  -moz-transition: all $time;
  -webkit-transition: all $time;
  -o-transition: all $time;
}