/*===========================
     notification css
===========================*/
.wrap-notification{
  position: fixed;
  top: 14%;
  right: 2%;
  z-index: 1000000;
  padding: 10px;
}
/*mobile*/
@media all and (max-width: 768px) {
  .wrap-notification{
    position: fixed;
    top: 1%;
    right: 2%;
    z-index: 1000000;
  }

}

/*===========================
    notification css
===========================*/
