/*===========================
       product list
===========================*/

.product-item {
  margin: 10px 0px;
  background: #fff;
  position: relative;
}
/*.product-item:hover {
  box-shadow: 5px 5px rgba(234, 234, 234, 0.9);
}*/
.product-item:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
  line-height:0;
}
.sticker {
  position: absolute;
  top: 0;
  left: 0;
  width: 63px;
  height: 63px;
}
.sticker-new {
  background: url(http://keenthemes.com/assets/bootsnipp/new.png) no-repeat;
  left: auto;
  right: 0;
}
.sticker-discount{
  left: auto;
  right: 0;
  background: #d80027;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  font-size: 12px;
  padding: 9px 5px;
  color: #fff;
}
.pi-img-wrapper {
  position: relative;
  &:hover{
    .btn-toolbar{
      visibility: visible;
    }
    .show-detail{
      display: block;
    }
  }
  .btn-toolbar{
    visibility: hidden;
    position: absolute;
    z-index: 10;
    text-align: center !important;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.pi-img-wrapper .show-detail {
  background: rgba(0,0,0,0.3);
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
}
/*.product-item:hover>.pi-img-wrapper>.show-detail {
  display: block;
}*/
.pi-img-wrapper .show-detail .btn {
  padding: 3px 10px;
  color: #fff;
  border: 1px #fff solid;
  margin: -13px 5px 0;
  background: transparent;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  line-height: 1.4;
  font-size: 12px;
  float: none
}

.product-item .btn:hover {
  background: #00bfff;
  border-color: #00bfff;
}

.product-item h3 {
  font-size: 14px;
  font-weight: 300;
  margin: 10px 0px;
  text-transform: uppercase;
  text-align: left;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.product-item h3 a {
  color: #3e4d5c;
}
.product-item h3 a:hover {
  color: #E02222;
}
.pi-price {
  color: #e84d1c;
  font-size: 18px;
  float: left;
}
.pi-price-old {
  color: #a8aeb3;
  text-decoration: line-through;
  font-size: 18px;
  float: left;
  padding-left: 5px;
}
.product-item .add2cart {
  float: right;
  color: #a8aeb3;
  border: 1px #ededed solid;
  padding: 3px 6px;
  text-transform: uppercase;
}
.product-item .add2cart:hover {
  color: #fff;
  background: #e84d1c;
  border-color: #e84d1c;
}
@media (max-width: 767px){
  .product-item-wrapper{
    padding: 0px;
  }
  .product-item{
    margin: 15px;
  }
  .btn-toolbar{
    visibility: hidden !important;
  }
}
/*===========================
      end product list
===========================*/
.modal-body:after, .modal-body:before{
  display: table;
  content: " ";
  clear:both;
}
/*========description=========*/
#controlled-tab-example{
  .nav-tabs {
    background: #ddd;
    li a{
      border-radius: 0px;
      margin-right: 0px;
      color: #333;
    }
    li.active a{
      color: #337ab7;
      font-weight: bold;

    }
  }
}
#description {
  min-height: .01%;
  overflow-x: auto;
  border: solid 1px #E5E5E5;
  border-top: none;
  .product-description-wrapper {
    padding: 20px;
  }
  img {
    max-width: 500px;
    height: auto;
  }
}
/*========end-description=========*/

/*========product_relate=========*/
.box-product-relate{
  .title-group-related h2{
    margin: 0;
    padding: 13px 15px;
    font-size: 15px;
    background: #e7e7e7;
    text-transform: uppercase;
  }
  .list-product-related{
    border: 1px solid #e7e7e7;
    border-top: 0;
    padding: 10px;
    li{
      margin-bottom: 10px;
      width: 100%;
      .image-product-relate{
        max-width: 100px;
        display: inline-block;
      }
      .content-product-relate{
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
        width: 50%;
        .product-title{
          font-size: 13px;
          display: -moz-box;
          -moz-line-clamp: 2;
          -moz-box-orient: vertical;
          height: 39px;
          margin-bottom: 5px;
          font-weight: normal;
        }
        .product-box-price-related{
          .price-new-related{
            color: #b2008d;
          }
          .price-old-related {
            color: #7d7d7d;
            text-decoration: line-through;
          }
        }
      }
    }
  }
}
/*=======end product_relate========*/