/*===========================
         responsive
===========================*/
/*desktop*/
@media all and (min-width: 1200px) {
    .main-contain{
      /*  margin-top: 115px;*/
    }

}
/*ipad*/
@media all and (max-width: 1199px) {
    .main-contain{
       /* margin-top: 0px;*/
    }
}
/*mobile*/
@media all and (max-width: 768px) {
    .main-contain{
        padding-top: 10px;
    }
    .bm-burger-button {
        z-index: 1;
    }
    .navbar-header,.menu-head{
        display: none;
    }
    .bm-burger-button{
        display: block;
    }

    .footer-container.image-larger {
        width: 300px !important;
        height: 300px !important;
        .tile{
            width: 300px !important;
            height: 300px !important;
        }
        & ~ .slider_quickview{
            width: 300px !important;
        }
    }

}

/*===========================
       end  responsive
===========================*/