/*===========================
      custom slick
===========================*/
.slick-dots{
  bottom: 10px;
  width:auto;
  display: inline-block !important;
  margin: auto;
  transform: translateX(-50%);
}
.item img{
  width: 100%;
  height: auto;
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.item h3 {
  background: #00558B;
  color: #fff;
  line-height: 100px;
  text-align: center;
  font-size: 36px;
  margin: 10px;
  padding: 2%;
  position: relative;
}

/*===========================
     end custom slick
===========================*/