@import 'help_class';
@import 'animation';
@import 'notification';
@import 'loading_cpn';
@import 'common';
@import 'contact_page';
@import 'header_page';
@import 'footer_page';
@import 'products';
@import 'detail_item';
@import 'burger-menu';
@import 'responsive';

/*import slick slider*/
@import 'slides';

.loading:nth-of-type(odd) {
  color: red;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}
ol, ul{
  margin: 0px;
  list-style-type: none;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
